<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 标签页图标显示 -->
    <link rel="shortcut icon" href="{{url_for('static', filename='asset/favicon-32x32.png') }}" type="image/x-icon">

    <title>ChatGPT知识问答</title>
    <!-- 登录页面的CSS文件 -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/a11y-dark.min.css">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/languages/go.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div id="login_content">{% block login_content%}{% endblock %}</div>
</div>
<div class="container-fluid">
    <div id="register_content">{% block register_content%}{% endblock %}</div>
</div>
<div class="container-fluid">
    <div id="forgetPasswd_content">{% block forgetPasswd_content%}{% endblock %}</div>
</div>
<div class="container-fluid">
    <div id="chat_content">{% block chat_content %}{% endblock %}</div>
</div>
</body>

<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>-->

{% block passwdjavascript %}{% endblock %}
{% block registerjavascript %}{% endblock %}
{% block chatjavascript %}{% endblock %}
{% block myjavascript %} {% endblock %}

</html>







